rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // --------------------------------------------------------------------------
    // Public Access enabled for simplified deployment/demo
    // --------------------------------------------------------------------------
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
